<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор картриджей</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/proekt.css') }}">
    <style>    #top-left-image {
        position: absolute;
        top: 5px;
        left: 80px;
        width: 100px;
        height: 100px;
    } 
    </style>
</head>
<body>
    <header>
        <h1>НИИ Графит</h1>
        <img id="top-left-image" src="Logo_B-B-WG_160x160.png">
    </header>
    <h2>Выберите количество картриджей:</h2>
    <form action="/submit" method="post">
        <table>
            <thead>
                <tr>
                    <th>Картридж</th>
                    <th>Организация</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                    {% for row in data %}
                    <tr>
                        <td>{{ row['cartridge'] }}</td>
                        <td>{{ row['quantity'] }}</td>
                        <td>{{ row['organization'] }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="3">Данные не найдены</td></tr>
                {% endif %}
            </tbody>
        </table>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>
